{% extends 'layout/base.html' %}

{% block context %}
<div style=" padding: 20px"> </div>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cog"></i>View all Project Stage Records </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>                
                <!-- <a href="javascript:;" class="remove"> </a> -->
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Status </th>
                            <th> Category </th>
                            <th> Priority </th>
                            <th> Project Lead </th>
                            <th> Project Location </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ record.name }} </td>
                            <td> {{ record.status }} </td>
                            <td> {{ record.category }} {{ record.user.last_name }} </td>
                            <td> {{ record.priority }} </td>
                            <td> {{ record.project_lead }} </td>
                            <td> {{ record.location }} </td>
                            <td style="text-align: center;"> <a href=""> <i class="fa fa-edit" aria-hidden="true"></i> </a> </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}